body {
    background-image: url('Multi/TheLastOfUs_Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

}

.titulo {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.texto-izquierda {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    max-width: 400px;
    text-align: justify;
    margin-left: 20px;
    padding-top: 20px;
    z-index: 1;
}

html,body {
    overflow: hidden;
}

  