/* -------------------------------------------------- */
/*                Estilos Generales                  */
/* -------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Bebas Neue', sans-serif;
    overflow: hidden;
    color: whitesmoke;
    background-image: url('Multi/wallpaperflare.com_wallpaper\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a {
    color: #e7e792;
}
a:visited {
    color: #e7e792; /* Asegura que el color no cambie después de haber sido visitado */
}

/* -------------------------------------------------- */
/*               Estilos de la Navbar                 */
/* -------------------------------------------------- */

.navbar {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2.6rem;
    padding: 5px 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    position: relative;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #fff;
}

.navbar a:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    background: #e7e792;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

.navbar a:hover:before {
    scale: 1;
    translate: 0;
    transition: .3s;
}

.navbar a:hover ~ a:before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.navbar a:hover ~ a:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
}

.navbar a.active {
    font-size: 2.8rem;
    font-weight: bold;
    color: #e7e792;
}

/* -------------------------------------------------- */
/*                Estilos de la Estructura           */
/* -------------------------------------------------- */

.main {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 120px;
    margin-right: 120px;
    margin-left: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.main h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.main h3 {
    font-size: 1.9rem;
}

.main p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

/* Redondear la barra de desplazamiento */
.main::-webkit-scrollbar {
    width: 12px;
}

.main::-webkit-scrollbar-thumb {
    background-color: #e7e792;
    border-radius: 10px;
}

.main::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* -------------------------------------------------- */
/*                  Estilos para el Video            */
/* -------------------------------------------------- */

.video_youtube {
    display: flex;
    justify-content: flex-end;
    width: 99%;
    height: 55%;
}

.video_youtube details {
    position: relative;
}

.video_youtube details[open] iframe {
    position: absolute;
    top: 10%;
    left: -460%;
    width: 400px;
    height: 250px;
    background: black;
    z-index: 10;
}

/* -------------------------------------------------- */
/*                 Estilos de los Detalles           */
/* -------------------------------------------------- */

#details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-left: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Efecto de hover para los detalles */
details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
details summary {
    flex: 0 0 auto;
    list-style: none;
    font-size: 1.3rem;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    color: whitesmoke;
    transition: color 0.3s ease;
}

/* Barra debajo del summary en hover */
details summary:before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #e7e792;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

details summary:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Cambio de color en hover */
details summary:hover {
    color: #fff;
}

details[open] summary:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* color linea */
details[open] summary {
    color: #e7e792;
}

details[open] > *:not(summary) {
    position: relative;
    left: 3%;
    padding: 10px;
    width: 30%;
    min-width: 400px;
    max-height: 400px;
    overflow-y: auto;
    background-color: transparent;
    margin-left: 20px;
    overflow: visible;
}

details p, details dl {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

details h3
{
    font-size: 1.8rem;
}



/* -------------------------------------------------- */
/*                 Estilos para las Tablas            */
/* -------------------------------------------------- */

.tablas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tabla_personajes, .tabla_armas {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    color: #f0f0f0;
}

td {
    padding: 20px;
    text-align: left;
    vertical-align: middle;
}

.img-cell img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}

.description {
    font-size: 1em;
    line-height: 1.5;
    color: #ccc;
    max-width: 600px;
}

tr:hover {
    background-color: #444;
}

/* Bordes de la tabla */
table, th, td {
    border: 1px solid #555;
}

/* -------------------------------------------------- */
/*                    Estilos de Listas               */
/* -------------------------------------------------- */

ul, ol {
    font-size: 1.2rem;
}

/* -------------------------------------------------- */
/*                  Estilos para las Secciones       */
/* -------------------------------------------------- */

.left, .right {
    flex: 1;
    padding: 20px;
    max-width: 48%;
}

.left {
    margin-right: 10px;
}

.right {
    flex: 1;
    padding: 20px;
    max-width: 48%;
    margin-left: 10px;
    margin-top: 78px;
}
/* -------------------------------------------------- */
/*                Estilos para el Formulario          */
/* -------------------------------------------------- */

#Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    margin: -70px auto 50px;
}

/* Formulario - Estilo general */
form {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.4);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-item {
    margin-bottom: 20px;
}

.form-item label {
    display: block;
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 5px;
}

.form-item input,
.form-item select,
.form-item textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #555;
    background-color: #333;
    color: whitesmoke;
    transition: border-color 0.3s ease;
}

.form-item input:focus,
.form-item select:focus,
.form-item textarea:focus {
    border-color: #e7e792; /* Color de foco */
    outline: none;
}

button[type="submit"] {
    background-color: #e7e792;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #e4e462;
}

button[type="submit"]:focus {
    outline: none;
}

textarea {
    resize: vertical;
}

/* -------------------------------------------------- */
/*                Estilo de los campos de entrada    */
/* -------------------------------------------------- */
input, select, textarea {
    font-size: 1rem;
    padding: 10px;
    margin-top: 5px;
}

/* -------------------------------------------------- */
/*                Estilo de los botones              */
/* -------------------------------------------------- */
button[type="submit"] {
    background-color: #e7e792;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ebeb62;
}
/* -------------------------------------------------- */
/*               Estilos para los Requisitos          */
/* -------------------------------------------------- */

.requisitos {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
    background-color: ;
}

.requisitos dt {
    font-weight: bold;
    color: #e7e792;
}

.requisitos dd {
    margin-left: 20px;
    color: #ccc;
}

/* Diseño de la lista para que se vea ordenada y clara */
.requisitos dt, .requisitos dd {
    padding: 5px 0;
}

/* Resaltar los requisitos */
.requisitos dt {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.requisitos dd {
    font-size: 1.2rem;
    line-height: 1.6;
    padding-left: 0px;
    color: whitesmoke;
}

/* Para que no se vean tan pegados */
.requisitos dd:last-child {
    margin-bottom: 20px;
}
